<div class="col-xs-12 col-sm-offset-3 col-sm-6">
  <% if(notice) %>
  <div class="alert alert-info"><%= notice %></div>
  <% end %>
    <div class="panel panel-default">
      <div class="panel-heading c-list">
        <span class="title">Contacts</span>
        <ul class="pull-right c-controls">
          <li>
            <%= link_to 'New Contact', new_contact_path, class: 'btn btn-xs btn-primary' %>
        </ul>
      </div>
    </div>
    <ul class="list-group" id="contact-list">
      <% @contacts.each do |contact| %>
        <li class="list-group-item">
            <div class="col-xs-12 col-sm-3">
                <img src="http://projects.scpr.org/static-files/_v4/images/default_avatar.png" alt="<%= contact.name %>" class="img-responsive img-circle" />
            </div>
            <div class="col-xs-12 col-sm-9">
              <span class="name"><%= contact.name %></span><br/>
              <span class="glyphicon glyphicon-earphone text-muted c-info"><%= contact.telp %></span>
              <span class="fa fa-comments text-muted c-info"><%= contact.email %></span>
              <div class="pull-right">
                <%= link_to 'Show', contact, class: 'btn btn-sm btn-default' %>
                <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              </div>
            </div>
            <div class="clearfix"></div>
        </li>
      <% end %>
    </ul>

  <br>
</div>
